{% extends 'index.html' %}

{% block content %}

<div class="container-fluid text-center">    
    <div class="text-center"> 
        <h1>Botanica</h1>
        <br>
        <p>Site para entusiastas de botânica, com uma Loja Online, Fórum de Perguntas e até um Desafio Diário para testar o seu conhecimento da área!</p>
        <hr>
        <br>
        <h3>Crie uma conta...</h3>
        <br>
        <p>Para poder usufruir da totalidade do site, não só para fazer as suas compras, como para fazer posts no Fórum e participar no desafio diário.</p>
        <hr>
        <br>
        <h3>Ou continue como convidado...</h3>
        <br>
        <p>Se quiser apenas fazer uma visita à loja online e fazer uma compra rápida. Recomendamos, no entanto, que crie uma conta posteriormente.</p>
        <br>
        <br>
        <br>
        <br>
        <br>

        <img src="static/home_img.png" alt="">
    </div>
</div>
  



{% endblock %}